{% extends 'mail/layout.html' %}

{% load i18n %}

{% block title %}{% translate 'Contact Request' %}{% endblock %}

{% block content %}
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        {% blocktranslate with message=contact.message name=contact.name phone=contact.phone trimmed %}
                            <p>Hello admin,</p>
                            <p>You have a new contact request from {{ name }}.</p>
                            <p>Phone Number: {{ phone }}</p>
                            <p>Message:</p>
                            <p>{{ message }}</p>
                        {% endblocktranslate %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}