<form id="contactForm" method="post" role="form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-floating">
        {{ form.name }}
        {{ form.name.label_tag }}
        {{ form.name.errors }}
    </div>
    <div class="form-floating">
        {{ form.email }}
        {{ form.email.label_tag }}
        {{ form.email.errors }}
    </div>
    <div class="form-floating">
        {{ form.phone }}
        {{ form.phone.label_tag }}
        {{ form.phone.errors }}
    </div>
    <div class="form-floating">
        {{ form.subject }}
        {{ form.subject.label_tag }}
        {{ form.subject.errors }}
    </div>
    <div class="form-floating">
        {{ form.message }}
        {{ form.message.label_tag }}
        {{ form.message.errors }}
    </div>
    <br />
    <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
</form>