{% extends 'layout.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ APP_NAME }}{% endblock %}

{% block hero_title %}{{ APP_NAME }}{% endblock %}
{% block hero_subtitle %}{% translate 'A Blog Theme by Start Bootstrap' %}{% endblock %}
{% block hero_style %}style="background-image: url('{% static 'core/img/home-bg.jpg' %}')"{% endblock %}

{% block content %}
    {% for post in page_obj %}
        {% include 'blog/post/partials/_preview.html' with post=post %}
    {% endfor %}

    {% include 'partials/_pagination.html' %}
{% endblock %}