/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
header.masthead .heading {
  color: #fff;
}

header.masthead .heading,
header.masthead .heading {
  text-align: center;
}

header.masthead .heading h1,
header.masthead .heading h1 {
  font-size: 3rem;
}

.post-detail header.masthead .heading {
  text-align: left;
}

.post-detail header.masthead .heading h1 {
  font-size: 2.25rem;
}

article .taxonomy-terms-list a {
  color: #fff;
}

article .taxonomy-terms-list a:hover {
  text-decoration: underline;
}

.errorlist {
  margin-top: 0.25rem;
  padding: 0;
}
.errorlist>li {
  color: #dc3545;
  list-style-type: none;
}