{% extends 'layout.html' %}

{% load i18n %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}
{% block body_class %}post-detail{% endblock %}
{% block hero_title %}{{ post.title }}{% endblock %}
{% block hero_subtitle %}{{ post.subtitle }}{% endblock %}

{% block hero_style %}
    style="background-image: url({{ post.background_image.url }})"
{% endblock %}

{% block content %}
    <!-- Post Content-->
    <article class="mb-4">
        {% include 'blog/post/partials/_author_and_date_information.html' with author=post.created_by post_date=post.created_at|date:'j F, Y' %}

        {{ post.body|safe }}

        {% translate 'Categories' as taxonomy_category_title %}
        {% include 'blog/post/partials/_taxonomy_terms.html' with taxonomy_title=taxonomy_category_title taxonomy_term_url_name='blog:category-index' taxonomy_terms=post.categories.all %}

        {% translate 'Tags' as taxonomy_tag_title %}
        {% include 'blog/post/partials/_taxonomy_terms.html' with taxonomy_title=taxonomy_tag_title taxonomy_term_url_name='blog:tag-index' taxonomy_terms=post.tags.all %}
    </article>
{% endblock %}