<!-- ======= Intro Single ======= -->
<section class="intro-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="title-single-box">
                    <h1 class="title-single">{{ post.title }}</h1>
                    <span class="color-text-a">{{ post.category }}</span>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'homepage' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'blog:post-index' %}">News</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            {{ post.title }}
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Single-->
